*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  background-color: azure;
  overflow-x: hidden !important;
}
