.mainContainer{
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    gap: 50px;
    align-items: center;
    margin-top: 2rem;
}

.leftBox{
    max-width: 50%;
    width: 100%;
    overflow: hidden;
}

.leftBox{
    min-width: 350px;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btnBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.btns{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btns  button{
    height: 44px;
    width: 220px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #000000;
    cursor: pointer;
}

.btnBox > button i,
.btns  button i{
    margin: 0 .5rem;
    font-size: 17px;
}


.btns button:first-child{
    margin-right: 1.5rem;
}

.btnBox > button{
    height: 44px;
    max-width: 465px;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    outline: none;
    color: #000;
    border: 1px solid #000;
    background: none;
    font-size: 16px;
}

.formBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 460px;
    padding:1rem 0 ;
}

.name,
.email,
.message{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.name label,
.email label,
.message label{
    position: absolute;
    top: -10px;
    left: 32px;
    color: #000;
    z-index: 0;
    background-color: #fff;
    font-size: 14px;
    padding: 0 .5rem;
}

.name input,
.email input{
    height: 40px;
    max-width: 440px;
    width: 100%;
    border: 1px solid #000;
    outline: none;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.message textarea{
    min-height: 120px;
    min-width: 440px;
    border: 1px solid #000;
    outline: none;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
}

.formBox button{
    height: 44px;
    width: 220px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    margin-top: 1.5rem;
    cursor: pointer;
    margin-left: auto;
}

.rightBox img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width:768px) {
    .mainContainer{
        flex-direction:column-reverse;
    }
    .rightBox,
    .leftBox{
        max-width: 100% !important;
        min-width: 0 !important;
    }

}

@media screen and (max-width:450px) {
    .btns{
        flex-direction: column;
    }

    .btns button{
        width: 100%;
    }

    .btns button:first-child{
        margin-bottom: 1rem;
    }

    .formBox button{
        width: 100%;
        margin-left: 0 !important;
    }

}

