.inputContainer{
    display: flex;
}

.inputContainer button{
    height: 43px;
    margin-left: .5rem;
    background-color: green;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    min-width: 70px;
}

.InputField{
    height: 43px;
    width: 100%;
    border-radius: 5px;
    padding: 0 .5rem;
    margin-bottom: .8rem;
    border:1px solid #333;
}