.container{
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 15px #efefef;
}

.container h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.fields input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 0 1rem;
    margin-bottom: 1rem;
    border: 2px solid #efefef;
}

.rangefields{
    display: flex;
    flex-direction: column;
}

.rangefields span{
    color: #333;
    font-weight: bold;
}

.inputFields{
    margin: 2rem  0;
}

.uppercase input,.lowercase input,.number input,.symbols input{
    height: 20px;
    width: 20px;
    margin-top: 1rem;
}

.container button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    background-color: royalblue;
}