.ListItem ul{
    margin: 1rem 0;
    list-style: none;
}

.ListItem ul li{
    display: flex;
    margin: .5rem 0;
    font-size: 15px;
    color: #333;
    line-height: 40px;
    justify-content: space-between;
}

.ListItem ul li button{
    height:40px;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    background-color: red;
}