.form{
    display: flex;
    gap: 50px;
    padding: .2rem;
    margin-top: 2rem;
    justify-content: center;
    /* border: 1px solid red; */
}

.box{
    padding: 1.5rem;
    width: 100%;
    border-radius:10px;
    box-shadow: 0 0 15px #3333331f;
    max-width: 350px;
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: #fff;
}

.box label{
    color: royalblue;
    font-weight: 550;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.box input{
    height: 40px;
    width: 100%;
    border: 1px solid #33333365;
    outline: none;
    border-radius: 5px;
    padding: 0 .5rem;
    color: #333;
}

.box input::placeholder{
    color:#333333be;
}

.box input:nth-child(3){
    margin-top: 1rem;
}

.box button{
    height: 40px;
    width:100px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: royalblue;
    color: #fff;
    border-radius: 5px;
    margin-top: 1rem;
}

.box span{
    margin-top: .5rem;
    color: red;
    display: none;
}

.showError{
    display: block !important;
}


@media screen and (max-width:580px) {
    .form{
        flex-direction: column;
        gap: 20px;
    }

    .box:first-child{
        margin-top: .8rem;
    }

    .box{
        max-width: 100% !important;
    }
}

