.listItemContainer{
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
}
.listContainer{
    padding: 2rem;
    width: 100%;
    max-width: 750px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 15px #3333331f;
}

.listContainer span{
    color: #333;
    font-size: 1.5rem;
}