@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 2rem;
    justify-content: space-between;
}

.logo h1{
    color: #fff;
    font-weight:bold;
    font-size: 2rem;
}

.menuLinks ul{
    display: inline-flex;
    list-style: none;
    margin-bottom: 0 !important;
}

.menuLinks ul li{
    margin-right: 2rem;
}

.menuLinks ul li:last-child{
    margin-right: 0 !important;
}

.menuLinks ul li a{
    color: #fff;
    font-weight: 550;
    text-decoration: none;
}

.menuLinks button{
    height: 40px;
    width: 150px;
    outline: none;
    background:none;
    color: #333;
    margin-left: 2rem;
    cursor: pointer;
    transition: .30s ease;
    border:1px solid #333;
}

.menuLinks button:hover{
    color: #333;
    background: #fff;
    border:1px solid #fff;
}